/* General/shared */

  html {
    background-color: #659DBD;
    font-family: "Segoe UI", Arial, san-serif;
    color: #020402;
  }

  body {
    min-width: 1000px;
    margin: 0;
  }

  h1, h2, h3, h4, h5, h6, #title {
    font-weight: 600;
    font-variant: small-caps;
    color: #cf5c36;
  }

  a {
    color: #8D8741;
    text-decoration: none;
  }

  article {
    margin-bottom: 40px;
    border-bottom: 1px solid #020402;
  }


  /* Wrapper */

  .wrapper {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 40px;
  }

  .large-wrapper {
    max-width: 1600px;
    margin: 0 auto;
    padding: 40px;
  }


  /* List */

  ul {
    list-style: square;
    padding-left: 20px;
  }

  li {
    padding-bottom: 5px;
  }

  ol.nested {
    list-style-type: lower-alpha;
  }

  ul h1,
  ul h2,
  ul h3 {
    margin-bottom: 10px;
  }


  /* Generic Figure and Image */

  figure {
    float: right;
    margin-right: 0;
  }

  figcaption {
    text-align: center;
  }


  /* Section and Text */

  .lightened {
    background-color: #FBEEC1;
  }

  .highlighted {
    color: #DAAD86;
  }

  .selected {
    background-color: #8D8741;
    border-bottom: 3px solid #020402;
    border-left-style: inset;
  }


/* Header */

  header a {
    color: #FBEEC1;
    text-decoration: none;
  }

  .logo {
    font-family: "Tempus Sans ITC", Arial, sans-serif;
    margin: 20px 0;
  }

  .logo * {
    font-variant: small-caps;
    margin: 0;
  }

  .logo #title {
    font-weight: bold;
    font-size: 2.4em;
  }

  .logo #tagline {
    margin-top: -12px;
    text-align: right;
    font-size: 1.4em;
  }

  .logo a {
    color: inherit;
  }

  header .wrapper {
    display: flex;
    justify-content: space-between;
  }

  header nav {
    display: block;
    width: 60%;
  }

  header .menu {   /* ul */
    height: 103%;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    font-size: 170%;
  }

  .menu li {
    display: inline-block;
    padding-top: 54px;
    margin-left: 6px;
  }

  .menu a {
    display: block;
    height: 100%;
    padding: 0 20px;
  }


/* Main */

  main {
    padding-top: 10px;
    padding-bottom: 40px;
  }


/* Footer */
  
  footer {
    padding: 40px 0;
  }

  footer a {
    color: #FBEEC1;
    text-decoration: none;
  }

  footer .wrapper {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  footer .wrapper p {
    margin: 0;
  }
