#screenshot-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

#screenshot-container * {
    box-sizing: border-box;
}

.column {
    width: 50%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

button {
    font-size: 16px;
    padding: 8px 12px;
}

pre {
    font-family: Courier;
    background-color: #eeeeee;
    white-space: pre-wrap;
    padding: 10px 0;
    padding-left: 26px;
    margin: 0;
}